/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.nav-links li a:hover,
.nav-links li a.active {
    color: var(--main-color);
}

.hamburger {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    flex: 1;
}

.hero-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.hero-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.hero-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.hero-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.img-placeholder, 
.hero-img img,
.about-img img {
    width: 300px;
    height: 300px;
    background: var(--second-bg-color);
    border-radius: 50%;
    border: .5rem solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    object-fit: cover;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-content {
    flex: 1;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 1rem 0 1.5rem;
    text-align: justify;
}

/* Skills Section */
.skills {
    background: var(--second-bg-color);
}

.skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.skills-box {
    background: var(--bg-color);
    border-radius: 2rem;
    padding: 3rem 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    border: 1px solid var(--main-color);
    text-align: center;
    transition: .5s ease;
}

.skills-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2rem var(--main-color);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.skills-box h3 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0;
}

/* Portfolio Section */
.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    height: 250px;
    background: var(--second-bg-color);
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
    color: var(--text-color);
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--text-color);
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* Contact Section */
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

/* Modal Styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: var(--second-bg-color);
    padding: 3rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
    text-align: center;
    position: relative;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    transform: scale(0.7);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}

.close-modal {
    color: var(--text-color);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.close-modal:hover {
    color: var(--main-color);
}

.modal-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.modal-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.modal-desc {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

/* Responsive */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content h3 {
        font-size: 2.6rem;
    }

    .hero-content h1 {
        font-size: 5rem;
    }

    .hero-img {
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img,
    .about .img-placeholder {
        width: 70vw;
        margin-top: 4rem;
    }

    .portfolio-container,
    .skills-container {
        grid-template-columns: 1fr;
    }
}

/* Remove arrow/spinner from input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}